body {
  background-color: black;
}

h1 {
  color: gold;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px; /* Padding for all sides of the sidebar */
}

.sidebar_navigation {
  background-color: (18,18,18);
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar_navigation .logo {
  background: (18,18,18);
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar nav ul li a {
  color: (179,179,179);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

.library {
  background-color: (18,18,18);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 8px;
  color: (179,179,179);
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.library .library__content {
  display: flex;
  justify-content: space-between;
}

.library .library__button {
  display: flex;
  margin-right: 10px;
  color: (179,179,179);
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
}

.library .library__button .fa {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
  padding-right: 8px;
}

.library .library__button .fa-book {
  margin-right: 10px;
  margin-left: 20px;
}

.library .library__content .fa-plus {
  margin: 24px 10px;
}

.sectionPlaylist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: (36,36,36);
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0;
  padding: 16px 20px;
}

.sectionPlaylist .sectionPlaylist__content {
  display: flex;
  flex-direction: column;
}

.sectionPlaylist__content .textTitle {
  padding-bottom: 14px;
  color: white;
  font-weight: 700;
}

.sectionPlaylist__content .textSubTitle {
  padding-bottom: 14px;
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.sectionPlaylist__content .sectionPlaylist__button {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700px;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}